name: publish appimageutil

on:
  workflow_dispatch:

jobs:

  check:
    runs-on: ubuntu-latest

    env:
      GH_TOKEN: ${{ github.token }}

    steps:
      - uses: actions/checkout@v4

      - id:  check-if-build
        run: |
          set -ex

          cat > QUERY <<EOF
          {
            repository(owner: "leleliu008", name: "appimageutil") {
                latestRelease {
                  name
                }
            }
          }
          EOF

          LATEST_RELEASE_VERSION="$(gh api graphql -f "query=$(cat QUERY)" --jq .data.repository.latestRelease.name)"

          RELEASE_VERSION="$(date +%Y.%m.%d)"

          if [ "$LATEST_RELEASE_VERSION" = "$RELEASE_VERSION" ] ; then
              RELEASE=no
          else
              RELEASE=yes
          fi

          printf 'RELEASE=%s\n' "$RELEASE" >> "$GITHUB_OUTPUT"
          printf 'RELEASE_VERSION=%s\n' "$RELEASE_VERSION" >> "$GITHUB_OUTPUT"


    outputs:
      if-new-release:  ${{ steps.check-if-build.outputs.RELEASE }}
      release-version: ${{ steps.check-if-build.outputs.RELEASE_VERSION }}


  build-aarch64:
    needs: [check]
    if: needs.check.outputs.if-new-release == 'yes'

    runs-on: ubuntu-24.04-arm

    strategy:
      fail-fast: false
      matrix:
        pkg: [xxd, curl, gnupg, zsync, bsdtar, squashfs, appstream, coreutils, findutils, desktop-file-utils]

    steps:
      - run: |
          cat > run.sh <<EOF
          set -ex

          COLOR_GREEN='\033[0;32m'        # Green
          COLOR_PURPLE='\033[0;35m'       # Purple
          COLOR_OFF='\033[0m'             # Reset

          echo() {
              printf '%b\n' "\$*"
          }

          run() {
              echo "\${COLOR_PURPLE}==>\${COLOR_OFF} \${COLOR_GREEN}\$@\${COLOR_OFF}"
              eval "\$*"
          }

          export GITHUB_ACTIONS=true

          run uname -a
          run id
          run pwd

          run apk update
          run apk add g++ libc-dev linux-headers

          run wget https://raw.githubusercontent.com/leleliu008/ppkg/master/ppkg
          run chmod a+x ppkg

          run ./ppkg setup
          run ./ppkg update

          sed -i '/^dep-pkg: /s|systemd||'       ~/.ppkg/repos.d/official-core/formula/appstream.yml
          sed -i 's|systemd=true|systemd=false|' ~/.ppkg/repos.d/official-core/formula/appstream.yml

          run ./ppkg install ${{ matrix.pkg }} --static
          run ./ppkg bundle  ${{ matrix.pkg }} .tar.xz
          EOF

      - run: curl -LO https://raw.githubusercontent.com/alpinelinux/alpine-chroot-install/master/alpine-chroot-install
      - run: chmod +x alpine-chroot-install
      - run: sudo ./alpine-chroot-install -d /alpine -a aarch64
      - run: /alpine/enter-chroot sh run.sh
      - run: /alpine/destroy

      - run: ls

      - uses: actions/upload-artifact@v4
        with:
          name: ${{ matrix.pkg }}---linux-aarch64.tar.xz
          path: ${{ matrix.pkg }}-*-linux-aarch64.release.tar.xz


  build:
    needs: [check]
    if: needs.check.outputs.if-new-release == 'yes'

    runs-on: ubuntu-latest

    strategy:
      fail-fast: false
      matrix:
        target-arch: [loongarch64, x86_64, ppc64le, riscv64, s390x]
        pkg: [xxd, curl, gnupg, zsync, bsdtar, squashfs, appstream, coreutils, findutils, desktop-file-utils]

    steps:
      - run: |
          cat > run.sh <<EOF
          set -ex

          COLOR_GREEN='\033[0;32m'        # Green
          COLOR_PURPLE='\033[0;35m'       # Purple
          COLOR_OFF='\033[0m'             # Reset

          echo() {
              printf '%b\n' "\$*"
          }

          run() {
              echo "\${COLOR_PURPLE}==>\${COLOR_OFF} \${COLOR_GREEN}\$@\${COLOR_OFF}"
              eval "\$*"
          }

          export GITHUB_ACTIONS=true

          run uname -a
          run id
          run pwd

          run apk update
          run apk add g++ libc-dev linux-headers

          run wget https://raw.githubusercontent.com/leleliu008/ppkg/master/ppkg
          run chmod a+x ppkg

          run ./ppkg setup
          run ./ppkg update

          sed -i '/^dep-pkg: /s|systemd||'       ~/.ppkg/repos.d/official-core/formula/appstream.yml
          sed -i 's|systemd=true|systemd=false|' ~/.ppkg/repos.d/official-core/formula/appstream.yml

          run ./ppkg install ${{ matrix.pkg }} --static
          run ./ppkg bundle  ${{ matrix.pkg }} .tar.xz
          EOF

      - run: curl -LO https://raw.githubusercontent.com/alpinelinux/alpine-chroot-install/master/alpine-chroot-install
      - run: chmod +x alpine-chroot-install
      - run: sudo ./alpine-chroot-install -d /alpine -a ${{ matrix.target-arch }}
      - run: /alpine/enter-chroot sh run.sh
      - run: /alpine/destroy

      - run: ls

      - uses: actions/upload-artifact@v4
        with:
          name: ${{ matrix.pkg }}---linux-${{ matrix.target-arch }}.tar.xz
          path: ${{ matrix.pkg }}-*-linux-${{ matrix.target-arch }}.release.tar.xz


  publish:
    needs: [check, build-aarch64, build]
    if: needs.check.outputs.if-has-new-commit == 'yes'

    runs-on: ubuntu-latest

    env:
      GH_TOKEN: ${{ github.token }}

    steps:
      - uses: actions/checkout@v4

      - uses: actions/download-artifact@v4
        with:
          pattern: '*'
          path: .
          merge-multiple: true

      - run: curl -LO https://curl.se/ca/cacert.pem

      - run: ls -a

      - run: |
          set -ex

          for arch in loongarch64 x86_64 aarch64 ppc64le riscv64 s390x
          do
            ROOT_DIR="appimageutil-${{ needs.check.outputs.release-version }}-linux-$arch"
            CORE_DIR="$ROOTDIR/core"
  
            install -d "$arch"
            install -d "$CORE_DIR"

            for f in *-linux-$arch.release.tar.xz
            do
              tar xf "$f" -C "$arch" --strip-components=1
            done

            for item in xxd curl gpg bsdtar zsyncmake mksquashfs sha256sum find appstreamcli desktop-file-validate
            do
              cp -L "$arch/bin/$item" "$CORE_DIR/"
            done

            cp -L cacert.pem "$CORE_DIR/"

            cp -L appimageutil.sh "$ROOT_DIR/appimageutil"

            tar -c -v --xz -f "$ROOT_DIR.tar.xz" "$ROOT_DIR"
          done

      - run: |
          cat >> notes.md <<EOF
          ## sha256sum

          \`\`\`
          $(sha256sum appimageutil-*.tar.xz)
          \`\`\`
          EOF

      - run: gh release create ${{ needs.check.outputs.release-version }} appimageutil-*.tar.xz --title ${{ needs.check.outputs.release-version }} --notes-file notes.md
